@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
}

img.wind {
    width: 60px;
}

img.humidity {
    width: 60px;
}
img.temp {
    width: 68px;
}
form {
    /* margin: auto; */
    /* max-width: 579px; */
    /* width: 100%; */
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    /* margin: auto; */
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

li.nav-item {
    margin-left: 18px;
}

img.snowflake{
    animation: rotate 5s infinite;
}

@keyframes rotate{
    from{
        transform: ratate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.navbar{
    background-color: #0c2461;
}

a.navbar-brand {
    color: #fff!important;
    font-weight: 700;
    padding-left: 24px;
    font-size: 26px;
    font-family: 'Fira Sans', sans-serif;
}
a.navbar-brand1 {
    color: #fff!important;
    font-weight: 700;
    
    font-size: 30px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

a.nav-link.active {
    color: #55c7f6!important;
}

a.nav-link{
    color: #55c7f6!important;
}

a.navbar-brand:hover {
    color: #fff;
}

button#submit {
    background-color: #55c7f6;
    padding: 8px 17px;
    border-radius: 25px;
}
i.fa.fa-search {
    color: #fff;
}

.card-header.py-3.text-bg-primary.border-primary {
    background-color: #0c2461!important;
}



.card{
    border: none!important;
    box-shadow: 2px 3px 4px #ddd;
   
}

.footer{
    background-color: #0c2461!important;
    border-top-right-radius: 99px;
}
.form-label {
    margin-bottom: .5rem;
    color: #fff!important;
}

button.btn {
    background-color: skyblue!important;
    border: 0!important;
}
h6.mb-2 {
    color: #fff;
}
ul.lists{
    margin-bottom: 6px;
}

#humidity {
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}
#wind_speed{
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}

#wind_degree{
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}
#feels_like{
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}


#cloud_pct{
color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}

#temp{
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}
#max_temp{
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}
#min_temp{
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}
#sunrise{
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}
#sunset{
    color: #0c84eb;
    font-size: 20px;
    font-weight: 700;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    filter: invert(1);
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.card-body-active {
    background-color: #0c2461;
}

